In [1]:
import requests
import datetime
import pandas as pd
import numpy as np

def get_binance_data_request_(ticker, interval='4h', limit=1000, start='2023-01-01 00:00:00'):
  """
  interval: str tick interval - 4h/1h/1d ...
  """
  columns = ['open_time','open', 'high', 'low', 'close', 'volume','close_time', 'qav','num_trades','taker_base_vol','taker_quote_vol', 'ignore']
  start = int(datetime.datetime.timestamp(pd.to_datetime(start))*1000)
  url = f'https://www.binance.com/api/v3/klines?symbol={ticker}&interval={interval}&limit={limit}&startTime={start}'
  data = pd.DataFrame(requests.get(url).json(), columns=columns, dtype=np.float)
  data.index = [pd.to_datetime(x, unit='ms').strftime('%Y-%m-%d %H:%M:%S') for x in data.open_time]
  usecols=['open', 'high', 'low', 'close', 'volume', 'qav','num_trades','taker_base_vol','taker_quote_vol']
  data = data[usecols]
  return data

df = get_binance_data_request_('BTCUSDT', '1h')

C:\Users\33670\AppData\Local\Temp\ipykernel_18708\834854732.py:13: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data = pd.DataFrame(requests.get(url).json(), columns=columns, dtype=np.float)

In [2]:
df

,open,high,low,close,volume,qav,num_trades,taker_base_vol,taker_quote_vol
2022-12-31 23:00:00,16520.28,16551.24,16487.74,16542.40,4973.43307,8.217183e+07,152632.0,2451.02335,4.049638e+07
2023-01-01 00:00:00,16541.77,16545.70,16508.39,16529.67,4364.83570,7.214629e+07,149854.0,2179.94772,3.603235e+07
2023-01-01 01:00:00,16529.59,16556.80,16525.78,16551.47,3590.06669,5.937676e+07,126556.0,1730.24901,2.861742e+07
2023-01-01 02:00:00,16551.47,16559.77,16538.14,16548.19,3318.84038,5.491945e+07,115398.0,1611.12302,2.666087e+07
2023-01-01 03:00:00,16548.19,16548.19,16518.21,16533.04,4242.08050,7.012254e+07,137724.0,2096.09287,3.464904e+07
...,...,...,...,...,...,...,...,...,...
2023-02-11 10:00:00,21698.37,21702.42,21658.01,21670.32,7239.15713,1.569323e+08,172924.0,3435.49985,7.447656e+07
2023-02-11 11:00:00,21670.50,21702.78,21664.62,21697.44,5779.71289,1.253081e+08,146059.0,3004.38514,6.513847e+07
2023-02-11 12:00:00,21697.44,21777.54,21662.11,21713.77,11592.21317,2.517696e+08,246305.0,5695.78846,1.237083e+08
2023-02-11 13:00:00,21713.77,21768.00,21695.32,21747.49,8078.66352,1.755753e+08,180824.0,4044.31064,8.789854e+07
2023-02-11 14:00:00,21747.50,21756.98,21714.10,21751.04,7654.44892,1.663877e+08,169121.0,3794.76777,8.249119e+07

In [3]:
df2 = get_binance_data_request_('BTCUSDT', '1h', start = '2023-02-11 14:00:00')

C:\Users\33670\AppData\Local\Temp\ipykernel_18708\834854732.py:13: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data = pd.DataFrame(requests.get(url).json(), columns=columns, dtype=np.float)

In [4]:
df3 = get_binance_data_request_('BTCUSDT', '1h', start = '2023-03-25 06:00:00')

C:\Users\33670\AppData\Local\Temp\ipykernel_18708\834854732.py:13: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data = pd.DataFrame(requests.get(url).json(), columns=columns, dtype=np.float)

In [5]:
df4 = get_binance_data_request_('BTCUSDT', '1h', start = '2023-05-05 21:00:00')

C:\Users\33670\AppData\Local\Temp\ipykernel_18708\834854732.py:13: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data = pd.DataFrame(requests.get(url).json(), columns=columns, dtype=np.float)

In [6]:
df5 = get_binance_data_request_('BTCUSDT', '1h', start = '2023-06-16 11:00:00')

C:\Users\33670\AppData\Local\Temp\ipykernel_18708\834854732.py:13: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data = pd.DataFrame(requests.get(url).json(), columns=columns, dtype=np.float)

In [ ]:
df5 = get_binance_data_request_('BTCUSDT', '1h', start = '2023-07-16 11:00:00')

In [7]:
final_df = pd.concat([df, df2, df3, df4, df5])

In [8]:
final_df

,open,high,low,close,volume,qav,num_trades,taker_base_vol,taker_quote_vol
2022-12-31 23:00:00,16520.28,16551.24,16487.74,16542.40,4973.43307,8.217183e+07,152632.0,2451.02335,4.049638e+07
2023-01-01 00:00:00,16541.77,16545.70,16508.39,16529.67,4364.83570,7.214629e+07,149854.0,2179.94772,3.603235e+07
2023-01-01 01:00:00,16529.59,16556.80,16525.78,16551.47,3590.06669,5.937676e+07,126556.0,1730.24901,2.861742e+07
2023-01-01 02:00:00,16551.47,16559.77,16538.14,16548.19,3318.84038,5.491945e+07,115398.0,1611.12302,2.666087e+07
2023-01-01 03:00:00,16548.19,16548.19,16518.21,16533.04,4242.08050,7.012254e+07,137724.0,2096.09287,3.464904e+07
...,...,...,...,...,...,...,...,...,...
2023-07-27 20:00:00,29163.83,29191.87,29133.50,29144.56,719.92422,2.099398e+07,19474.0,322.44395,9.403028e+06
2023-07-27 21:00:00,29144.56,29235.00,29142.01,29187.15,520.58728,1.519271e+07,17304.0,232.85020,6.795358e+06
2023-07-27 22:00:00,29187.16,29238.00,29187.15,29202.29,540.33274,1.578823e+07,17323.0,285.13942,8.331126e+06
2023-07-27 23:00:00,29202.29,29225.88,29179.95,29222.78,548.93192,1.602762e+07,14202.0,267.44910,7.808768e+06
2023-07-28 00:00:00,29222.78,29305.30,29209.70,29273.00,708.67920,2.072492e+07,19556.0,375.10959,1.097043e+07

In [9]:
final_df.to_csv('./data/h1_btc_2023.csv', index=True)