In [3]:
import pandas as pd

# Load the CSV file
file_path = './data/h1_btc_2023.csv'
btc_data = pd.read_csv(file_path)

# Displaying the first few rows of the dataframe to understand its structure
btc_data.head()

,Unnamed: 0,open,high,low,close,volume,qav,num_trades,taker_base_vol,taker_quote_vol
0,2022-12-31 23:00:00,16520.28,16551.24,16487.74,16542.40,4973.43307,8.217183e+07,152632.0,2451.02335,4.049638e+07
1,2023-01-01 00:00:00,16541.77,16545.70,16508.39,16529.67,4364.83570,7.214629e+07,149854.0,2179.94772,3.603235e+07
2,2023-01-01 01:00:00,16529.59,16556.80,16525.78,16551.47,3590.06669,5.937676e+07,126556.0,1730.24901,2.861742e+07
3,2023-01-01 02:00:00,16551.47,16559.77,16538.14,16548.19,3318.84038,5.491945e+07,115398.0,1611.12302,2.666087e+07
4,2023-01-01 03:00:00,16548.19,16548.19,16518.21,16533.04,4242.08050,7.012254e+07,137724.0,2096.09287,3.464904e+07

In [5]:
def calculate_average_performance_after_high(data: pd.DataFrame, high_period: int, avg_period: int) -> pd.DataFrame:
    """
    Calculate the average performance over a specified period after hitting a high over a specified period.

    :param data: DataFrame containing the BTC data.
    :param high_period: The period over which to consider the high.
    :param avg_period: The period over which to calculate the average performance.
    :return: DataFrame with a new column containing the average performance.
    """
    # Calculate the rolling max for the high period
    data['rolling_max'] = data['high'].rolling(window=high_period, min_periods=1).max()

    # Initialize a column for average performance
    data[f'avg_performance_{avg_period}d_after_{high_period}d_high'] = float('nan')

    return data

# Calculate the average performance after a high over specified periods
btc_avg_performance = calculate_average_performance_after_high(btc_data, 120, 3)

# Show the first few rows of the updated dataframe
btc_avg_performance.tail()

,Unnamed: 0,open,high,low,close,volume,qav,num_trades,taker_base_vol,taker_quote_vol,rolling_max,avg_performance_3d_after_120d_high
8306,2023-12-12 08:00:00,41916.26,42104.12,41778.06,42036.86,2040.34983,8.551955e+07,76140.0,1087.78847,4.558993e+07,44700.0,NaN
8307,2023-12-12 09:00:00,42036.86,42038.29,41800.00,41804.57,1470.04196,6.159040e+07,51593.0,695.06350,2.912066e+07,44700.0,NaN
8308,2023-12-12 10:00:00,41804.58,41832.53,41711.57,41809.42,1106.51073,4.622941e+07,42689.0,504.84798,2.109095e+07,44700.0,NaN
8309,2023-12-12 11:00:00,41809.42,41825.09,41545.54,41584.57,1164.04002,4.853670e+07,45652.0,473.55430,1.974459e+07,44700.0,NaN
8310,2023-12-12 12:00:00,41584.58,41850.00,41584.57,41782.86,878.10955,3.665349e+07,34426.0,483.73404,2.019156e+07,44700.0,NaN

In [6]:
btc_avg_performance.to_csv('./data/data_13122023.csv', index=True)